/* CSS BLURR */
.collection-blurred {
  filter: blur(80px);
  background-color: rgb(255, 255, 255);
}

/* CART CSS */
.container-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart.cart-show {
  display: block;
  position: absolute;
  z-index: 20;
  top: 36%;
}

.cart {
  display: none;
  width: 320px;
  text-align: center;
  color: black;
}

.cart-title {
  text-align: center;
  font-size: 1rem;
}
.cart-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom: 14px;

}

.cart-item-info {
  font-size: .8rem;
  text-align: right;
  width: 100%;
}

.cart-item-info-name {
  margin: 5px;
}

.cart-item-info-price {
  margin: 5px;
  font-weight: 400;
}

.cart-img {
  width: 64px;
  height: 42px;
  border: solid black 1px;
}

.cart-total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

html {
  font-family: 'Lato', sans-serif;
  color: #555555;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 1.3rem;
}

ul {
  margin: 0;
  padding: 0;

}

img {
  width: 100%;
  height: auto;
}

i {
  padding-right: 6px;
}

.collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar {
  background-color: #0a00d0;
  height: 140px;
  padding-top: 12px;
}

.nav-button {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  display: block;
  padding: 2px 12px 2px 12px;
  margin-bottom: 10px;
}

.nav-button-brand {
  font-weight: 400;
}

.nav-button-underline {
  text-decoration: underline;
}

#item-count {
  
}

.page-title {
  color: #494949;
  margin-left: 22px;
  font-size: 1.6rem;
}

.item {
  width: 86%;
  margin-bottom: 32px;
  box-shadow: 0px 0px 8px #9c9c9c82; 
  border-radius: 3px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.cart-button {
  width: 8rem;
  height: 1.72rem;
  background-color: #FFF;
  color: #9C9C9C;
  border-radius: 6px;
  border: solid #9c9c9c82 2px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
}

@media screen and (min-width: 480px) {
  .navbar {
    height: 48px;
  }

  .navbar-left {
    width: 64%;
    display: inline-block;
    float: left;
  }
  
  .navbar-right  {
    width: 36%;
    display: inline-block;
    float: left;
  }

  #cart {
    position: absolute;
    right: 20px;
  }

  .item {
    width: 46%;
    margin: auto;
    margin-bottom: 22px; 
  }

  .item-info {
    margin: .32rem;
  }

  .nav-button {
    display: inline-block;
  }
}

@media screen and (min-width: 720px) {
  .item {
    width: 32%;
    margin: auto;
    margin-bottom: 22px; 
  }

  .cart-button {
    height: 2.3rem;
    width: 9rem;
  }
}

@media screen and (min-width: 1080px) {
  .collection {
    max-width: 1500px;
    margin: 0 auto;
  }
  .item {
    width: 23%;
    margin: auto;
    margin-bottom: 22px; 
  }
}

