html {
  font-family: 'Lato', sans-serif;
  color: #575757;
  box-sizing: border-box;
}

ul {
  margin: 0;
}

.navbar {
  background-color: #0a00d0;
}

.nav-button {
  color: white;
  font-size: 1.48rem;
  text-decoration: none;
  display: block;
  padding: 2px 12px 2px 12px;
}

img {
  width: 98%;
}

.collection {
  width: 100%;
}

.item {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0px 0px 4px #575757; 
  border-radius: 3px;
}

.item-name {
  text-align: center;
}

.item-price {
  text-align: center;
}

.button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.cart-button {
  width: 160px;
  height: 42px;
  background-color: #FFF;
  border-radius: 3px;
  border: solid #575757 2px;
  text-align: center;
  margin-bottom: 20px;
}